body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    background-color: #ce1141; /* Houston Rockets Red */
    color: white; /* White text */
    padding: 20px;
    border-radius: 8px 8px 0 0; /* Rounded top corners */
}

.time-difference {
    padding: 20px;
}

.paris {
    background-color: #ce1141; /* Houston Rockets Red */
    color: white;
}

.houston {
    background-color: white;
    color: black;
    border-left: 40px solid #0055A4; /* France Blue */
    border-right: 40px solid #EF4135; /* France Red */
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 80px;
    padding: 5px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
